[
    {
        "name": "PHPSESSID",
        "value": "your_session_id_here",
        "domain": ".pixiv.net",
        "path": "/",
        "secure": true,
        "httpOnly": true,
        "expiry": 12111111111
    },
    {
        "name": "device_token",
        "value": "your_device_token_here",
        "domain": ".pixiv.net",
        "path": "/",
        "secure": true,
        "httpOnly": true,
        "expiry": 12111111111 
    }
]




or just use whatever is provided by a cookie grabber:
from cookie-editor (https://addons.mozilla.org/en-US/firefox/addon/cookie-editor/):
[
    {
        "name": "privacy_policy_notification",
        "value": "",
        "domain": ".pixiv.net",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": true,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 12111111111,
        "storeId": null
    },
    {
        "name": "__cf_bm",
        "value": "",
        "domain": ".pixiv.net",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": true,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 12111111111,
        "storeId": null
    },
    {
        "name": "p_ab_d_id",
        "value": "",
        "domain": ".pixiv.net",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 12111111111,
        "storeId": null
    },
    {
        "name": "p_ab_id",
        "value": "",
        "domain": ".pixiv.net",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 12111111111,
        "storeId": null
    },
    {
        "name": "PHPSESSID",
        "value": "",
        "domain": ".pixiv.net",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": true,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 12111111111,
        "storeId": null
    },
    {
        "name": "device_token",
        "value": "",
        "domain": ".pixiv.net",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": true,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 12111111111,
        "storeId": null
    },
    {
        "name": "a_type",
        "value": "",
        "domain": ".pixiv.net",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 12111111111,
        "storeId": null
    },
    {
        "name": "b_type",
        "value": "",
        "domain": ".pixiv.net",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 12111111111,
        "storeId": null
    },
    {
        "name": "c_type",
        "value": "",
        "domain": ".pixiv.net",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 12111111111,
        "storeId": null
    },
    {
        "name": "cc1",
        "value": "",
        "domain": ".pixiv.net",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": true,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 12111111111,
        "storeId": null
    },
    {
        "name": "first_visit_datetime_pc",
        "value": "",
        "domain": "www.pixiv.net",
        "hostOnly": true,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 12111111111,
        "storeId": null
    },
    {
        "name": "p_ab_id_2",
        "value": "",
        "domain": ".pixiv.net",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 12111111111,
        "storeId": null
    },
    {
        "name": "privacy_policy_agreement",
        "value": "",
        "domain": ".pixiv.net",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": true,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 12111111111,
        "storeId": null
    },
    {
        "name": "yuid_b",
        "value": "",
        "domain": "www.pixiv.net",
        "hostOnly": true,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 12111111111,
        "storeId": null
    }
]

